<h1>New Blob</h1>

<%= form_for :blob, url: blog_blobs_path do |f| %>
    <div><%= f.text_field :title, placeholder: "Title" %></div>
    <br>
    <div><%= f.text_area :body, placeholder: "Enter your text here." %></div>
    <div><%= f.submit %></div>
<% end %>