<section id="profile" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="picture">
                <p>Picture goes here.</p>
            </div>
        </div>
    </div>
</section>