section#welcome
  .container
    h1.headline-title
      | Welcome to Hackathons.com!
    p.headline-text
      | Hackathons, all in one package.
section#ft-walkthrough
  .container
    h1.intro-header
      | Features
    p.intro-text
      | Your core services are here to stay.
