<section id="welcome">
    <div class="container">
        <h1 class="headline-title">Welcome to Hackathons.com!</h1>
        <p class="headline-text">Hackathons, all in one package.</p>
    </div>
</section>
<section id="ft-walkthrough">
    <div class="container">
        <h1 class="intro-header">Features</h1>
        <p class="intro-text">Your core services are here to stay.</p>
    </div>
</section>